# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.inidebug/
data/temp/
data/backups/
02TKDR2LFG000000VS5489BUVUD1610F.zip
02TNB07DS8000000VS5489BUVSSD35NB.zip
